<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container" id="main-content">
      {% block content %}
      {% endblock %}
    </div>
  </body>

  <script src="/jquery/dist/jquery.js"></script>
  <script src="/lodash/dist/lodash.js"></script>
  <script src="/js/vendor/react.js"></script>
  <script src="/js/vendor/react-dom.js"></script>
  <script src="/js/bundle.js"></script>
</html>
