<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container" id="main-content">
      {{{body}}}
    </div>
  </body>

  <script src="/jquery/dist/jquery.js"></script>
  <script src="/lodash/dist/lodash.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/babel-core_browser.min.js"></script>
  <script src="/js/react.js"></script>
  <script src="/js/react-dom.js"></script>
  <script src="/js/app.js" type="text/babel"></script>
</html>
